    /* css reset */
    
    * {
        box-sizing: border-box;
    }
    
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    body {
        padding: 0;
        margin: 0;
        background: #f0abb7;
    }
    
    .globalHeader {
        margin: 20px;
    }
    
    .searchForm {
        display: flex;
        justify-content: space-between;
    }
    
    .searchForm>input {
        width: 100%;
        margin-right: 10px;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #eee;
    }
    
    .searchForm>button {
        white-space: nowrap;
        padding: 0 28px;
        border: none;
        background: #e86278;
        border-radius: 4px;
        color: white;
        font-size: 16px;
    }
    
    .globalMain {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .siteList {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .siteList>li {
        margin-bottom: 15px;
    }
    
    .siteList .site {
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #eee;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px 0;
        position: relative;
        cursor: pointer;
        border-radius: 15px;
        transition: ease-in 0.3s;
    }
    
    .siteList .site>.logo {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 64px;
        text-transform: uppercase;
    }
    
    .siteList .site>.link {
        font-style: 14px;
        margin-top: 4px;
    }
    
    .siteList .site>.close {
        position: absolute;
        right: 10px;
        top: 5px;
        display: none;
        cursor: default;
        transition: ease-in 0.3s;
    }
    
    .siteList .addButton {
        border: 1px solid #ddd;
        background: #eee;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        border-radius: 10px;
        transition: ease-in 0.3s;
    }
    
    .siteList .addButton .icon {
        width: 64px;
        height: 64px;
    }
    
    .siteList .addButton .text {
        font-style: 14px;
        margin-top: 4px;
    }
    
    .siteList .addButton .icon-wrapper {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    @media(min-width:500px) {
        .globalHeader {
            margin: 50px 0 60px;
        }
        .searchForm {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .siteList {
            margin-left: 0;
            margin-right: -25px;
            justify-content: flex-start;
        }
        .siteList>li {
            margin-right: 25px;
        }
        .siteList .site {
            transition: ease-in 0.3s;
        }
        .siteList .site:hover {
            background: #e76278;
            transform: scale(1.1);
        }
        .siteList .site>.close {
            transition: ease-in 0.3s;
        }
        .siteList .site:hover>.close {
            display: block;
        }
        .siteList .addButton {
            transition: ease-in 0.3s;
        }
        .siteList .addButton:hover {
            background: #e76278;
            transform: scale(1.1);
        }
    }